/* body{
  background-image: url("C:/Users/L/Desktop/random.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
} */
.quote{
  min-height:10px;
  width:500px;
  margin: auto;
  margin-top: 200px;
  border:1px solid black;
  background-color: rgb(238, 240, 242);
  font-weight:600;
  font-size: larger;
  border-radius: 10px;
  border: 0px;
  box-shadow: 2px 3px 2px 3px ;
 
}
.quote:hover{
  background-color:#ffffff;
  
}
/* button{

 display: flex;
 justify-content: flex-end;
} */
body .quote{
  opacity: 1;
  background:none;
  transition:200ms;
}
i{
  margin-right: 20px;
  display: flex;
  display: inline-block;
  color:rgb(27, 72, 78);
  cursor:pointer;
  font-size: 25px;
  padding: 2px;
}
i:hover{
  color: black;
}
.invisible{
  display: none;
}
.bottom{
  margin-top: 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}